@import "tailwindcss";

:root {
  --background: #FEFAF2;
  --foreground: #171717;
}

.link{
  transform: rotate(-45deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme { 
  --color-yellow : #4C3F31;
  --color-gray : #6C6685;
  --color-bold : #2C325D;
  --color-textcolor : #212121;
  --color-brown-dark: #392f25;
  --color-brown : #4C3F31;
  --color-brown-light : #815f3a;
  --color-orange : #FE6247;
  --color-iconbg : #F7E5D1;
  --color-cardcolor : #F0EDE0;
  --color-shadow : #D7D5DD;
  --shadow-form : 0px 4px 30px 0px rgb(0,0,0,0.1);
  --shadow-10 : 0px 0px 10px 2px rgb(0,0,0,0.1);
  --shadow-card  : 0px 4px 30px 0px rgb(0,0,0,0.1),0px 6px 30px 0px rgb(0,0,0,0.1);
}

body {
  background: var(--background);
  color: var(--color-textcolor);
  font-family: Arial, Helvetica, sans-serif;
}
option:checked{
  background-color: #4C3F31;
  color: white;
}
option{
  padding: 10px;
}
option:hover{
  background-color: #F7E5D1;
}
button { 
  cursor: pointer;
}
@layer components{

  .form-field{
    @apply flex flex-col gap-2;

    label{
      @apply text-base font-medium text-gray;
    }
    input,textarea,select{
      @apply bg-white rounded-2xl placeholder:text-gray py-2.5 px-4.5 text-sm placeholder:font-medium caret-brown font-semibold focus:outline-brown-light;
    }
  }
  
  .empty-state{
    @apply flex flex-col items-center text-center w-full bg-white rounded-2xl p-6 gap-2 shadow-10 border border-shadow;

    h1{
      @apply font-bold text-2xl
    }
    p{
      @apply text-gray
    }
  }
}