@import "tailwindcss";

:root {
  --background: #FEFAF2;
  --foreground: #171717;
}
.link{
  transform: rotate(-45deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme { 
  --color-yellow : #4C3F31;
  --color-gray : #6C6685;
  --color-bold : #2C325D;
  --color-textcolor : #212121;
  --color-brown : #4C3F31;
  --color-orange : #FE6247;
  --color-orange-10 : #F7E5D1;
  --color-cardcolor : #F0EDE0;
  --color-shadow : #D7D5DD;
  --shadow-10 : 0px 0.5px 0px 0px rgb(0,0,0,0.1);
  --shadow-card  : 0px 4px 30px 0px rgb(0,0,0,0.1),0px 6px 30px 0px rgb(0,0,0,0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
option:checked{
  background-color: #4C3F31;
  color: white;
}
option{
  padding: 10px;
}
option:hover{
  background-color: #F7E5D1;
}